<!<!DOCTYPE html>
<html>
    <head>
        <title>Help | Pet Amigo WebApp para Gestão</title>
    </head>
    <body>
        <h1>Gestor Pet Amigo</h1>
        <p>
            Essa é a página HELP para o Gestor Pet Amigo.    
        </p>
    </body>
</html>